<div class="container">
	<h2 class="section-top"><span class="fas fa-dumbbell" aria-hidden="true"></span> 本当に退会しますか？</h2>
	<h3 class="text-center">退会すると、会員登録情報や<br>これまでの購入履歴が閲覧できなくなります。<br>退会する場合は、「退会する」をクリックしてください。</h3>
	<div class="col-xs-3">
		<%= link_to "マイページに戻る", mypage_path, class: "btn btn-sm btn-hachiss" %>
	</div>
	<div class="col-xs-6"></div>
	<div class="col-xs-3">
		<%= link_to "退会する", withdraw_customer_path, method: :patch, "data-confirm" => "OKを押すと退会処理がされます。本当によろしいですか？", class: "btn btn-sm btn-red" %>
	</div>
</div>