// Place all the styles related to the public/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: px;
  height: 600px;
  width:660px;
  margin: 0px auto 20px;
  p {
    width: 500px;
    padding: 50px;
    font-size: 30px;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
  }
}

.item-info{
  text-align:center;
}

#skippr {
  height: 600px;
  justify-content: center;
  align-items: center;
  maragin-bottom:30px;
}

.image1 {
  background-image: image-url("muscles-2525200.jpg");
}
.image2 {
  background-image: image-url("coast-1834827_1920.jpg");
}
.image3 {
  background-image: image-url("man-731900_1920.jpg");
}
.image4 {
  background-image: image-url("hardwood-1851071_1920.jpg");
}

.f-container{
  display:flex;
  flex-wrap:wrap;
}

.public_items_genre{
  text-align:center;
  font-size:20px;
  box-sizing:border-box;
  margin:5px;
  box-shadow: 0 0 0 3px  inset;
  height: 50px;
  width:200px;
  color: #000000;
  font-family: Oswald,sans-serif;
  a{
    text-decoration:none;
  }
}
.readmore{
  padding-right:30px;
}
.f-container {
  justify-content: center;

  flex-flow: row wrap 2;
}


.item_image1 {
  height:338px;
  width:600px;
  margin:10px;
}
.item_image2 {
    height:338px;
  width:600px;
    margin:10px;

}
.item_image3 {
    height:388px;
  width:600px;
    margin:10px;
}
.item_image4 {
    height:388px;
  width:600px;
    margin:10px;
    padding:0px;
}
.item_image5 {
    height:600px;
  width:1200px;
    margin:10px;
    padding:0px;
}

.c{
	height:500px;
	background-color:yellow;
}
.box-list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  flex-flow: row wrap;
 
}
.list {
  flex: 0 0 19%;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
img{
  width: 100%;
}

.edit_link {
		font-family: Oswald,sans-serif;
	
	    text-decoration: none;
    color:#000000;
}