// Place all the styles related to the public/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-info{
  text-align:center;
}


#skippr {
  height: 600px;
  justify-content: center;
  align-items: center;
  maragin-bottom:30px;
}

.image1 {
  background-image: image-url("bodybuilder-925770_1920.jpg");
}
.image2 {
  background-image: image-url("strawberry-red-3456953_1920.jpg");
}
.image3 {
  background-image: image-url("training-828715_1920.jpg");
}
.image4 {
  background-image: image-url("running-573762_1920.jpg");
}

.f-container{
  display:flex;
  flex-wrap:wrap;
}

// .public_items_genre{
//   text-align:center;
//   font-size:20px;
//   box-sizing:border-box;
//   margin:5px;
//   box-shadow: 0 0 0 3px  inset;
//   height: 50px;
//   width:200px;
//   color: #000000;
//   font-family: Oswald,sans-serif;
//   a{
//     text-decoration:none;
//   }
// }
.readmore{
  padding-right:30px;
}
.f-container {
  justify-content: center;
  flex-flow: row wrap ;
}


.item_image1 {
  height:338px;
  width:600px;
  margin:10px;
}
.item_image2 {
    height:338px;
  width:600px;
    margin:10px;

}
.item_image3 {
    height:388px;
  width:600px;
    margin:10px;
}
.item_image4 {
    height:388px;
  width:600px;
    margin:10px;
    padding:0px;
}
.item_image5 img{
    width:1000px;
    width:100%;
    margin:10px auto;
    padding:0px;
}

.c{
	height:500px;
	background-color:yellow;
}
.box-list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-flow: wrap;
}

.items_index a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1.5px;
}
.list {
  border: 1px solid #ccc;
  margin: 7px;
}


.edit_link {
		font-family: Oswald,sans-serif;
	
	    text-decoration: none;
    color:#000000;
}



