<div class="container">
  <div class="row">
  	<div class="col-xs-12 admins items_edit">
			<h2 class="section-top"><span class="fas fa-dumbbell" aria-hidden="true"></span> <%= @item.name %>の編集</h2>
	  </div>
    <%= render 'form', item: @item, url: admin_item_path(@item), submit: '更新' %>
	</div>
</div>
