<div class="container">
  <div class="row">
  	<div class="col-xs-12 admins items_new">
			<h2 class="section-top">商品新規登録</h2>
		</div>
      <%= render 'form', item: @item, url: admin_items_path,　submit: '登録' %>
	</div>
</div>