<div class="container">
	<h2 class="section-top"><span class="fas fa-dumbbell" aria-hidden="true"></span> TRAINING　MOVIES</h2>

	<%= link_to training_path do %>
	<div class="wrap-video">
	  <div class="text">
	    <p>Watch training movies!</p>
	    <p class="headline">ジャンピングスクワット</p>
	  </div>
	  <%= video_tag("/videos/video1.mp4", autoplay: true ,muted: true ,loop: true) %>
	</div>
	<% end %>
</div>





