<div class="container">
	<h2 class="section-top"><span class="fas fa-dumbbell" aria-hidden="true"></span> TRAINING　MOVIE</h2>

	<%= link_to training_path do %>
	<div class="wrap-video">
	  <div class="text">
	    <p></p>
	    <p class="headline"></p>
	  </div>
	  <%= video_tag("/videos/video1.mp4", autoplay: true ,muted: true ,loop: true) %>
	</div>
	<% end %>
	<h2 class="section-top"><span class="fas fa-dumbbell" aria-hidden="true"></span> 基礎体力を上げる筋トレ「ジャンプスクワット」の効果的なやり方</h2>
	<p>基礎体力を上げる筋トレ「ジャンプスクワット」の効果的なやり方

　運動不足の人でも短期間で効率よく身体をつくれる筋トレを、ReebokONEアンバサダーとしても活動するパーソナルトレーナー・鳥光健仁さんにレクチャーしてもらいました。自宅でも手軽にできるトレーニングなので、ダイエットやシェイプアップにもぴったり。筋肉をつけたい人、痩せたい人、どちらもぜひ参考にしてみてください。<br>



▲月間で600km走るという鳥光健仁さん。ReebokONEアンバサダーとして、第1回スパルタンレースにも出場した経験を持つ<br>

ジャンプスクワットのやり方<br>
　ジャンプスクワットは、しゃがんだ状態からのジャンプを繰り返します。ジャンプをしたとき、頭の上で手を叩きましょう。これにより高いジャンプを心がけるようになります。また、しゃがんだときに「太もも」を、飛んだ時に「ふくらはぎ」を意識しましょう。<br>



▲しゃがんだ状態からのジャンプを繰り返す、ジャンプスクワット<br>

◆ジャンプスクワットの注意点<br>
　注意すべきポイントは、常に踵（かかと）を上げた状態を維持すること。女性は身体が軟らかいので、しゃがんだ際に踵が地面についてしまいがちですが、そうすると腰を痛める原因にもつながります。<br>



▲ポイントは常に踵を上げることと、頭の上で手を叩くこと。深くまでしゃがみ込むとより効果的<br>



◆トレーニング回数は？<br>
　初心者は10回でも充分とのこと。したがって1日10回を3セット行うことから始めて、慣れてきたら10回から15回、20回……というように増やしていきます。これを初心者は週1回から始めます。トレーニングできる環境の人は週2回。上級者は週3回できるとよいそうです。</p>
</div>