<div class="wrapper">
	<h2 class="section-top"><span class="fas fa-dumbbell" aria-hidden="true"></span> ジャンル編集</h2>
	<%= render 'form', genre: @genre, url: admin_genre_path(@genre), submit: '更新' %>
</div>