
<div class="container">
  <h2 class="section-top"><span class="fas fa-dumbbell" aria-hidden="true"></span> 管理者トップ</h2>
  <h3>本日の注文件数 <%= link_to admin_orders_path do %>
      <%= Order.where("created_at >= ?", Date.today).count %><% end %>
      件
  </h3>
  <h3>未完了の注文件数 <%= link_to admin_orders_path do %>
      <%= Order.where.not(status: 4).count %><% end %>
    件
  </h3>
</div>


