
<div class="f-container Opacity">
	<%= link_to about_path do %>
	<figure class=" item_image5 Opacity"><img src="https://user-images.githubusercontent.com/68215378/97083726-137a3100-164d-11eb-8ed9-a2f9515017dd.jpg">
		<% end %>
	</figure>
</div>
<div class="container">
	<h2 class="section-top">ご注文ありがとうございました！</h2>
	<div class="text-center">
		<%= link_to "買い物を続ける", items_path, class: "btn btn-sm btn-hachiss" %>
	</div>
</div>
