
<div class="f-container ">
	<%= link_to about_path do %>
	<figure class=" item_image5 "><%= image_tag asset_path("thank-you-5077738.jpg") %>
		<% end %>
	</figure>
</div>
<div class="container">
	<h2 class="section-top">ご注文ありがとうございました！</h2>
	<div class="text-center">
		<%= link_to "買い物を続ける", items_path, class: "btn btn-sm btn-hachiss" %>
	</div>
</div>
