/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#img_prev{
　border-radius:100px;
　border:5px solid #F90;
　width:200px;
　overflow:hidden;
　box-shadow:0 0 4px #666666;
}
.image_field {
  width: 220px;
  text-align: center;
  p {
    margin-top: 10px;
    text-align: left;
  }
}
.admin_item_image {
  width: 220px;
  height: 150px;

  object-fit: cover;
}
.item_image {
  display: block;
  width: 360px;
  height: 240px;

  object-fit: cover;
}


// header　--------------------------------------------
.toplogo{

}

header{
  text-decoration: none;
  height: 50px;
  font-family: Oswald,sans-serif;
  font-weight: 700;
  background-color: rgba(30,59,140,.9);
  border-bottom: rgba(150,245,80,.8) .222em solid;
}

header li {
  list-style: none;
}
.nav-item{
  float:left;

}
header a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1.5px;
}