
	<figure class=" about-top-image Opacity"><%= image_tag asset_path("yoga-lady.jpg") %>
	</figure>

<div class="container">
	<div class="row about_row">
		<div class="col-xs-7">
			<h2 class="section-top"><span class="fas fa-dumbbell" aria-hidden="true"></span> ONEGAI-PROTEINの活動</h2>
			世界中で、全ての方がそれぞれの目標に向かって努力しています。ONEGAI-proteinの目標は、日々の活動を通じて皆様の目標達成のサポートをすることです。その一環として、目標を問わず利用でき、かつ最高のスポーツ栄養製品を製造しています。スポーツ栄養製品に対して、皆様は様々なニーズを抱えています。たとえば、食スタイルで分けられるベジタリアン、ビーガン、乳製品不使用、グルテンフリーなどです。ONEGAI-proteinは、皆様のニーズに応え、優れた価値を有する幅広い製品をお届けしています。そのためだれでも高品質な栄養食品をお楽しみいただけるのです。



			ONEGAI-PROTEINのプロテイン製品は全て自社製となっています。ですので、第3者コストをかけずにお求めやすい価格で商品をお届けできます。また、品質が最高であることについては様々な機関からの保証もあります。純度の高い製品をきちんとお届けしたい、またONEGAI-proteinから発送される全製品が最高の品質基準を満たすものにしたい、と考えています。それを達成するための最新の製造施設・試験方法については投資を惜しみません。



			ONEGAI-PROTEINがお届けする製品は高品質スポーツ栄養製品に特化していますが、さまざまなスポーツウェアも製造・販売しています。スポーツウェアには最新のデザインや高機能生地を用いています。ONEGAI-proteinのスポーツウェアで目標達成に努力する人方全員のサポートができればと願っています。



			またONEGAI-PROTEINのコミュニティには様々なスキルや能力を持つ人が多数参加し、拡大中です。そのため、ONEGAI-proteinがお届けするブログやSNSを通じて最新で重要な栄養についての情報がシェアできます。シェアする内容は、レシピ、ワークアウトなどで、皆様がフィットネスを行う上で役立つ情報を提供しサポートしたいと考えています。
			</div>
		<div class="col-xs-5 about_image1"></div>
	</div>
	<div class="row about_row">
		<div class="col-xs-5 about_image2"></div>
		<div class="col-xs-7">
			<h2 class="section-top"><span class="fas fa-dumbbell" aria-hidden="true"></span> 地域社会の発展への貢献</h2>
			ONEGAI-PROTEINは、性別・地域・背景を問わずその人の能力を生かしたいと強く信じています。ONEGAI-proteinは110ヵ国以上を網羅するグローバル企業です。グローバル企業として、多様性の問題に取り組んでいます。



			企業として成長・多様化し続けており、同様に扱う製品も多様化しています。現在、植物ベースの製品やオーガニック製品の品揃えにも力を入れています。特定のアレルギーをお持ちの方、また食スタイルにこだわりがある方にも楽しんでいただける製品の取り扱いが増え、ONEGAI-proteinの最も人気がある製品の一角をなしています。現在、動物性材料不使用の製品も多様に取り揃えています。こういった活動を通じて一般的な動物愛護活動や有毒物質放出軽減活動のレベル向上における役割をきちんと果たしています。



			動物愛護・有毒物質放出軽減以外にONEGAI-proteinにはもう1つのミッションがあります。それは、環境への影響を可能な限り減らすことです。このミッション達成のためにより多くの製品を改良する活動を継続しています。製造減量はリサイクル品や生分解性のものを用いており、弊社の活動全体で廃棄量を最小化する事を目標としています。



			その一環が「zero to landfill（埋め立てごみゼロ）」ポリシーを通じた活動です。この活動では廃棄物を自社リサイクル施設で加工するかRDF(refuge derived fuel[廃棄物固形燃料]）として利用しています。また、ONEGAI-proteinの全施設であらゆるペットボトルの利用を排除しています。スタッフは再利用可能なコーヒーカップを利用し、年500,000本のペットボトル利用を削減しました。また、埋め立て廃棄されるカップを1年で100万個削減しました。
		</div>
	</div>
	<div class="row about_row">
		<div class="col-xs-7">
			<h2 class="section-top"><span class="fas fa-dumbbell" aria-hidden="true"></span> 受賞歴</h2>

		2004年に小規模で経営をスタートさせたONEGAI-proteinですが、企業として大幅に成長しました。また、高品質のスポーツ栄養製品を製造するにあたってONEGAI-proteinは専門性を高め、献身してきました。この我々の取り組みが認められ数々の賞を頂けたことは非常に喜ばしいことであると同時に、全てのお客様に安心して製品をご利用頂けると感じています。数々の賞を受賞してまいりましたが、ほんの一部弊社の受賞歴を紹介したいと思います。



		2007年 ISO9001製造認証、GMP（Goods Manufacturing Practice[製造管理および品質管理に関する基準]）、およびHACCP（Hazard Analysis Critical Control Points）の認証の取得。

		2007年 Growing Business AwardsでYoung Company of the Yearに選出される（Growing Business Awardsは、CBI （Confederation of British Industry[英国産業連盟]）の助成を受け、Real Businessとロイズ銀行共催の名声の高い賞）。

		2009年 National Business Awardsにて Regional Award for Small to Medium Sized Business of the Year（イングランド北西エリア）を受賞。

		2009年 Sunday Times Fast Track 100で21位にランクイン。 

		2015年 Best Factory Awardsにてウォリントン工場が高く評価され、Judges’ Special Awardの表彰を受ける。 

		2017年 Retail Week AwardsにてTHGはInternational Growth Retailer of the Yearを受賞。 

		2018年 Greater Manchester Ward Hadaway Fastest 50 growing companiesにTHGがランクイン。 

		2018年 THGはThe Queen’s Award for Enterpriseを受賞。
		</div>
		<div class="col-xs-5 about_image3"></div>
	</div>
	<div class="about-footer-img">
		<img src="https://user-images.githubusercontent.com/68215378/97109379-3fadb480-1716-11eb-88bb-bbb7c95ac3f7.jpg"></img>
    </div>
</div>